.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
  }
  
  .close-button:hover {
    color: #dc2626;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .ml-2 {
    margin-left: 0.5rem;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .ml-4 {
    margin-left: 1rem;
  }
  
  .w-full {
    width: 100%;
  }
  
  #fileInput {
    display: inline-block;
    margin-top: 8px;
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  label {
    font-size: 1rem; /* Ajusta el tamaño de la fuente para los labels */
    color: #217765; /* Aplica el color primario */
  }

  .mat-form-field {
    width: 100%;
  }
  
  .file-input {
    display: block;
    width: 100%;
  }
  
  button.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  .underline {
    text-decoration: underline;
  }
  .mat-dialog-content {
    overflow-y: auto;
  }
  
  
  
  
  