<app-top-bar></app-top-bar>

<div class="historia-container">
    <div class="historia-content animate__animated animate__fadeIn">
      <div class="historia-texto">
        <h2>Historia</h2>
        <p>
          Salsas Reni se dedica a la elaboración de salsas caseras de alta calidad, dirigidas a una 
          amplia variedad de públicos y usos. Nuestra misión es proporcionar productos 
          artesanales que realcen el sabor de las comidas cotidianas y conviertan cualquier plato 
          en una experiencia culinaria memorable.
        </p>
        <p>
          Desarrollaremos un sistema integral para la producción de salsas caseras, incluyendo 
          una interfaz web con front-end en Angular y back-end en .NET. Esta plataforma permitirá 
          gestionar productos, usuarios y pedidos mediante APIs integradas con sistemas de 
          bases de datos para almacenamiento seguro.
        </p>
        <p>
          Además, se desarrollará una aplicación móvil enfocada en el seguimiento detallado de 
          los procesos de elaboración de las salsas, con funcionalidades como guías paso a paso 
          y notificaciones en tiempo real. La adaptación para dispositivos portátiles con Wear OS 
          asegurará una interfaz optimizada y accesible, facilitando la gestión remota de los 
          procesos de producción.
        </p>
      </div>
      <div class="historia-video">
        <video controls>
          <source src="../../../../assets/images/VideoFondo.mp4" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
  
  <div class="mision-vision-valores">
    <div class="mision-vision">
      <div class="product-card-custom mision">
        <img src="../../../../assets/images/software.jpeg" alt="Misión" class="mb-4 w-full h-32 object-cover rounded-md" />
        <h3 class="text-xl textBold mb-2">Misión</h3>
        <p>
          Estamos dedicados a diseñar y desarrollar soluciones de software innovadoras y de alta calidad que impulsen el éxito y la transformación digital de nuestros clientes, optimizando sus procesos y superando sus expectativas a través de una colaboración cercana y un compromiso constante con la excelencia.
        </p>
      </div>
  
      <div class="product-card-custom vision">
        <img src="../../../../assets/images/innovacion.jpeg" alt="Visión" class="mb-4 w-full h-32 object-cover rounded-md" />
        <h3 class="text-xl textBold mb-2">Visión</h3>
        <p>
          Convertirnos en un referente destacado en el desarrollo de software, reconocido por nuestra excelencia técnica, nuestra capacidad de innovación y nuestro compromiso inquebrantable con la satisfacción del cliente.
        </p>
      </div>
    </div>
  
    <div class="valores">
      <div class="product-card-custom valores-card">
        <img src="../../../../assets/images/comunicacion.jpeg" alt="Transparencia" class="mb-4 w-full h-32 object-cover rounded-md" />
        <h3 class="text-xl textBold mb-2">Transparencia</h3>
        <p>
          Fomentamos la comunicación abierta y honesta con nuestros clientes y colaboradores, garantizando confianza y claridad en todas nuestras interacciones.
        </p>
      </div>
  
      <div class="product-card-custom valores-card">
        <img src="../../../../assets/images/calidad.jpeg" alt="Calidad" class="mb-4 w-full h-32 object-cover rounded-md" />
        <h3 class="text-xl textBold mb-2">Calidad</h3>
        <p>
          Comprometidos con la excelencia, aseguramos que cada proyecto cumple con los más altos estándares de calidad y precisión.
        </p>
      </div>
  
      <div class="product-card-custom valores-card">
        <img src="../../../../assets/images/equipo.jpeg" alt="Trabajo en Equipo" class="mb-4 w-full h-32 object-cover rounded-md" />
        <h3 class="text-xl textBold mb-2">Trabajo en Equipo</h3>
        <p>
          Valoramos y promovemos la colaboración y el respeto mutuo dentro de nuestro equipo, conscientes de que el trabajo conjunto potencia nuestra creatividad y efectividad.
        </p>
      </div>
  
      <div class="product-card-custom valores-card">
        <img src="../../../../assets/images/responsabilidad.jpeg" alt="Responsabilidad" class="mb-4 w-full h-32 object-cover rounded-md" />
        <h3 class="text-xl textBold mb-2">Responsabilidad</h3>
        <p>
          Actuamos con integridad y responsabilidad en cada proyecto, asegurando que nuestras soluciones sean sostenibles y beneficien tanto a nuestros clientes como a la comunidad.
        </p>
      </div>
    </div>
  </div>
  
  <h2 class="section-title">Público Objetivo</h2>
  <div class="publico-objetivo">
    <div class="product-card-custom objetivo">
      <img src="../../../../assets/images/familia.jpeg" alt="Hogares y Familias" class="mb-4 w-full h-32 object-cover rounded-md" />
      <h3 class="text-xl textBold mb-2">Hogares y Familias</h3>
      <p>
        Personas que cocinan en casa y buscan agregar sabor a sus comidas con salsas de calidad, incluyendo cocineros aficionados y aquellos que prefieren soluciones rápidas y sabrosas.
      </p>
    </div>
  
    <div class="product-card-custom objetivo">
      <img src="../../../../assets/images/AmantesCocina.jpeg" alt="Amantes de la Cocina y Gourmets" class="mb-4 w-full h-32 object-cover rounded-md" />
      <h3 class="text-xl textBold mb-2">Amantes de la Cocina y Gourmets</h3>
      <p>
        Personas que disfrutan experimentar con sabores y buscan productos artesanales para una experiencia culinaria única.
      </p>
    </div>
  
    <div class="product-card-custom objetivo">
      <img src="../../../../assets/images/eventos.jpeg" alt="Eventos y Fiestas" class="mb-4 w-full h-32 object-cover rounded-md" />
      <h3 class="text-xl textBold mb-2">Eventos y Fiestas</h3>
      <p>
        Organizadores de eventos familiares, sociales o empresariales que requieren salsas para complementar su catering o añadir un toque especial a sus menús.
      </p>
    </div>
  
    <div class="product-card-custom objetivo">
      <img src="../../../../assets/images/restaurantes.jpeg" alt="Restaurantes y Negocios de Alimentos" class="mb-4 w-full h-32 object-cover rounded-md" />
      <h3 class="text-xl textBold mb-2">Restaurantes y Negocios de Alimentos</h3>
      <p>
        Pequeños restaurantes, food trucks y otros negocios de alimentos que buscan salsas caseras para ofrecer a sus clientes una opción distintiva y de alta calidad.
      </p>
    </div>
  </div>
  