.footer {
    background-color: #1f2937;
    color: #ffffff;
  }
  .footer a {
    color: #9ca3af;
    transition: color 0.3s;
  }
  .footer a:hover {
    color: #ffffff;
  }

.footerCustom {
  background-color: rgb(50, 44, 43, .3);
  color: #ffffff;
}
  