.footer {
  background-color: #c31a23;
  color: #ffffff;
  }
  .footer a {
    color: #9ca3af;
    transition: color 0.3s;
  }
  .footer a:hover {
    color: #ffffff;
  }

.footerCustom {
  background-color: #c31a23;
  color: #ffffff;
}
  