<footer class="footer footerCustom text-white py-4">
  <div class="container mx-auto flex flex-wrap justify-between items-start">
    <!-- Sección de información de la empresa -->
    <div class="w-full md:w-1/3 mb-4 md:mb-0 flex flex-col items-center md:items-start">
      <img src="../../../../assets/images/logo_Salsa_Reni-removebg.png" alt="Salsas Reni Logo" class="w-24 mb-4" />
      <h3 class="text-lg font-bold mb-2">Salsas Reni</h3>
      <p class="text-center md:text-left">Las mejores salsas caseras a un clic de distancia.</p>
    </div>

    <!-- Sección de enlaces -->
    <div class="w-full md:w-1/3 mb-4 md:mb-0">
      <h4 class="font-bold mb-2">Enlaces</h4>
      <ul class="space-y-2">
        <li><a href="#" routerLink="/" class="text-gray-300 hover:underline">Inicio</a></li>
        <li><a routerLink="/productos" class="text-gray-300 hover:underline">Productos</a></li>
        <li><a href="#" class="text-gray-300 hover:underline">Categorías</a></li>
        <li><a href="#" class="text-gray-300 hover:underline">Contacto</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="w-full md:w-1/3 flex flex-col items-center md:items-start">
      <h4 class="font-bold mb-2">Síguenos</h4>
      <ul class="flex space-x-4">
        <li>
          <a href="#" class="text-gray-300 hover:text-white transition-colors duration-300">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
        </li>
        <li>
          <a href="#" class="text-gray-300 hover:text-white transition-colors duration-300">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </li>
        <li>
          <a href="#" class="text-gray-300 hover:text-white transition-colors duration-300">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
