<footer class="footer bg-gray-800 text-white py-4">
    <div class="container mx-auto flex justify-between">
      <div>
        <h3 class="text-lg font-bold">Salsa Deliciosa</h3>
        <p>Las mejores salsas caseras a un clic de distancia.</p>
      </div>
      <div>
        <h4 class="font-bold">Enlaces</h4>
        <ul>
          <li><a href="#" class="text-gray-300 hover:underline">Inicio</a></li>
          <li><a href="#" class="text-gray-300 hover:underline">Productos</a></li>
          <li><a href="#" class="text-gray-300 hover:underline">Categorías</a></li>
          <li><a href="#" class="text-gray-300 hover:underline">Contacto</a></li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold">Síguenos</h4>
        <ul class="flex space-x-4">
          <li><a href="#" class="text-gray-300 hover:underline"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#" class="text-gray-300 hover:underline"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="text-gray-300 hover:underline"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  