@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 256px;
  height: 100vh; /* Hace que la barra lateral ocupe toda la altura de la ventana */
  position: fixed; /* Fija la barra lateral en su lugar */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #217765;
  padding: 24px;
  transition: all 0.3s;
}

.main-content {
  margin-left: 256px; /* Mueve el contenido principal a la derecha de la barra lateral */
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.sidebar .head {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.user-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  object-fit: cover;
}

.user-detaills .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.user-detaills .name {
  font-size: 14px;
  font-weight: 500;
}

.nav {
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 10px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.sidebar.active .menu > ul > li > a .text {
  display: none;
}

.menu ul li > a:hover,
.menu ul li.active > a {
  color: #E4007C;
}

.menu ul li .icon {
  font-size: 20px;
}

.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}

.menu ul li.active .arrow {
  transform: rotate(180deg);
}

.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}

.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
}

.menu-btn {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.menu-btn:hover i {
  color: #E4007C;
}

.menu-btn i {
  transition: all 0.3s;
}

.sidebar.active {
  width: 92px;
}

.sidebar .nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}

.sidebar.active .user-detaills {
  display: none;
}

.sidebar.active .menu .title {
  text-align: center;
}

.sidebar.active .menu ul li .arrow {
  display: none;
}

.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
}

.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
}

.sidebar.active .menu .sub-menu {
  top: 0;
  border-radius: 20px;
  border: 1px solid #f6f6f6;
  background-color: #217765;
}

.menu ul li.active .sub-menu {
  display: block;
}

.sidebar:hover .menu ul li.active .sub-menu {
  display: block;
}

.sidebar:hover .menu ul li .sub-menu {
  display: none;
}

.sidebar:hover .menu ul li:hover .sub-menu {
  display: block;
}

.sidebar:hover .menu ul li:hover .sub-menu {
  display: block;
}
