<div class="container">
  <div class="sidebar" 
       [class.active]="isSidebarActive"
       (mouseenter)="onMouseEnter()" 
       (mouseleave)="onMouseLeave()">
    <div class="head">
      <div class="user-img">
        <a href="#"><img src="#" alt="User Image"></a>
      </div>
      <div class="user-detaills">
        <p class="title">Salsas Reni</p>
        <p class="name">Aplicación Web</p>
      </div>
    </div>
    <div class="nav">
      <div class="menu" *ngFor="let menu of menus; let i = index">
        <p class="title">{{ menu.title }}</p>
        <ul>
          <li *ngFor="let item of menu.items; let j = index" 
              [class.active]="activeMenuIndex === i && activeSubMenuIndex === j">
            <a (click)="toggleSubMenu(i, j)">
              <i class="icon ph-bold" [ngClass]="item.icon"></i>
              <span class="text">{{ item.text }}</span>
              <i class="arrow ph-bold ph-caret-down" *ngIf="item.subMenu && item.subMenu.length"></i>
            </a>
            <ul class="sub-menu" *ngIf="activeMenuIndex === i && activeSubMenuIndex === j">
              <li *ngFor="let subItem of item.subMenu">
                <a [routerLink]="subItem.route">
                  <span class="text">{{ subItem.text }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
