<div class="barra-lateral" [class.minimized]="isSidebarMinimized">
  <div>
    <div class="nombre-pagina">
      <img src="../../assets/images/logo_Salsa_Reni-removebg.png" />
      <span>Salsas Reni</span>
    </div>
  </div>

  <nav class="navegacion">
    <ul>
      <li>
        <a id="inbox" href="#">
          <ion-icon name="mail-unread-outline"></ion-icon>
          <span>Productos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="star-outline"></ion-icon>
          <span>Proveedores</span>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="paper-plane-outline"></ion-icon>
          <span>Inventario</span>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="document-text-outline"></ion-icon>
          <span>Compras</span>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="bookmark-outline"></ion-icon>
          <span>Ventas</span>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>Punto venta</span>
        </a>
      </li>
      <li>
        <a href="#">
          <ion-icon name="trash-outline"></ion-icon>
          <span>Mermas</span>
        </a>
      </li>
    </ul>
  </nav>

  <div>
    <div class="linea"></div>

    <div class="usuario">
      <img src="../../assets/images/logo_Salsa_Reni-removebg.png" alt="">
      <div class="info-usuario">
        <div class="nombre-email">
          <span class="nombre">Yovani</span>
          <span class="email">Administrador</span>
        </div>
      </div>
    </div>
  </div>
</div>
