.snackbar-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 500px; /* Aumenta el ancho del contenedor */
  max-height: 900px; /* Aumenta la altura máxima */
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  border-radius: 12px; /* Bordes más redondeados */
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.snackbar-header {
  background: #217765;
  color: white;
  padding: 12px; /* Aumenta el relleno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1d6b5d; /* Línea divisoria más destacada */
}

.snackbar-header i {
  cursor: pointer;
  font-size: 20px; /* Tamaño del icono */
}

.snackbar-body {
  padding: 15px; /* Aumenta el relleno */
  overflow-y: auto; /* Permite el desplazamiento vertical */
  flex: 1; /* Hace que el contenedor ocupe el espacio disponible */
}

.cart-items-container {
  max-height: 400px; /* Aumenta la altura máxima del contenedor de productos */
  overflow-y: auto; /* Permite el desplazamiento vertical dentro del contenedor de productos */
}

.cart-item {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacia los elementos a los extremos */
  padding: 10px 0; /* Espaciado superior e inferior */
  border-bottom: 1px solid #ddd; /* Línea divisoria entre los productos */
}

.product-info {
  display: flex;
  flex-direction: column; /* Organiza el nombre y el precio en una columna */
  flex: 1; /* Hace que el contenedor de información del producto ocupe el espacio disponible */
}

.transparent-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer; /* Para que el cursor cambie al pasar sobre el botón */
  font-size: 18px; /* Tamaño del icono */
}

.trash-icon {
  color: red;
}

.snackbar-footer {
  padding: 12px; /* Aumenta el relleno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #1d6b5d; /* Línea divisoria más destacada */
}

.snackbar-footer button {
  font-size: 16px; /* Tamaño del texto en los botones del pie */
}
