<div class="snackbar-container" *ngIf="isVisible">
  <div class="snackbar-header">
    <span>Agregado a la bolsa de compra</span>
    <i class="fas fa-times" (click)="close()"></i>
  </div>
  <div class="snackbar-body">
    <div class="cart-items-container">
      <div *ngFor="let item of cartItems" class="cart-item">
        <div class="product-info">
          <h3>{{ item.producto.nombreProducto }}</h3>
          <p>{{ item.producto.precioVenta | currency }}</p>
          <!-- Campo para ingresar la cantidad -->
          <mat-form-field>
            <input 
              matInput 
              type="number" 
              [(ngModel)]="productQuantities[item.producto.idProducto]" 
              (ngModelChange)="updateQuantity(item.producto)" 
              placeholder="Cantidad"
              min="1" 
              [attr.aria-label]="item.producto.nombreProducto + ' cantidad'"
            />
          </mat-form-field>
        </div>
        <button mat-button class="transparent-button" (click)="removeFromCart(item.producto)">
          <i class="fas fa-trash-alt trash-icon"></i>
        </button>
      </div>
    </div>
    
  </div>
  <div class="snackbar-footer">
    <button mat-button (click)="goToCart()">Ver bolsa de compra ({{ cartItems.length }})</button>
    <button mat-raised-button color="primary">Comprar</button>
  </div>
</div>
