<app-top-bar></app-top-bar>

<div class="landing-page-custom">
  <section class="featured-products-custom p-10">
    <h2 class="font-bold mb-6 text-dark-green-custom1">
      Todos nuestros productos
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <ng-container *ngIf="productos.length > 0; else noProducts">
        <div *ngFor="let producto of productos" class="product-card-custom p-4 bg-white shadow-md rounded-md">
          <img
            [src]="producto.fotografia"
            alt="{{ producto.nombreProducto }}"
            class="mb-4 w-full h-32 object-cover rounded-md"
          />
          <h3 class="text-xl font-bold mb-2">{{ producto.nombreProducto }}</h3>
          <p class="text-lg font-bold mb-2 text-primary-custom">
            {{ producto.precioVenta | currency }}
          </p>
          <p class="text-md mb-4 text-dark-green-custom">
            Cantidad: {{ producto.cantidad }} {{ getUnit(producto.cantidad) }}
          </p>
          <button mat-raised-button color="primary" class="btn-primary-custom" (click)="addToCart(producto)">
            Agregar al carrito
          </button>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <p class="text-dark-green-custom">
          No hay productos disponibles en este momento.
        </p>
      </ng-template>
    </div>
  </section>
</div>
