<app-top-bar></app-top-bar>

<div class="container landing-page-custom mt-4">
  <section class="featured-products-custom">
    <h2 class="font-weight-bold mb-4 text-dark-green-custom1" style="font-size: 1.3rem;">
      Todos nuestros productos
    </h2>

    <!-- Contenedor principal -->
    <div class="row">
      <ng-container *ngIf="productosKeys.length > 0; else noProducts">
        <!-- Iterar sobre las claves agrupadas -->
        <div *ngFor="let key of productosKeys" class="col-md-3 mb-4" (click)="openModal(key)">
          <!-- Contenedor del producto -->
          <div class="card h-100 text-center cursor-pointer">
            <img
              [src]="productosAgrupados[key][0].fotografia"
              alt="{{ key }}"
              class="card-img-top"
              style="height: 220px; object-fit: cover; border-radius: 10px;"
            />
            <div class="card-body">
              <h3 
                class="card-title font-weight-bold text-dark-green-custom mt-3 mb-0" 
                style="font-size: 1.2rem;">
                {{ key }}
              </h3>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Mensaje si no hay productos -->
      <ng-template #noProducts>
        <div class="col-12">
          <p class="text-dark-green-custom text-center" style="font-size: 1.1rem;">
            No hay productos disponibles en este momento.
          </p>
        </div>
      </ng-template>
    </div>
  </section>
</div>
