<mat-card class="m-4 border rounded-lg relative">
  <button class="close-button" (click)="onCancel()">
    <i class="fa fa-times"></i>
  </button>
  <mat-card-title class="underline m-4">{{ isEditMode ? 'Editar Proveedor' : 'Crear Proveedor' }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full mt-4">
        <mat-label>Nombre del Proveedor</mat-label>
        <input matInput formControlName="nombreProveedor">
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Nombre de la Persona que Atiende</mat-label>
        <input matInput formControlName="nombreAtiende">
      </mat-form-field>
      <div class="flex justify-end">
        <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Actualizar' : 'Crear' }}</button>
        <button mat-button (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
