<app-top-bar></app-top-bar>

<div class="landing-page-custom">
  <!-- Carrusel de imágenes -->
  <section class="carousel-section">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/productos">
            <img src="../../../../assets/images/FondoSalsa1.jpeg" class="d-block w-100" alt="Imagen 1">
          </a>
        </div>
        <div class="carousel-item">
          <a href="/productos">
            <img src="../../../../assets/images/FondoSalsa2.jpg" class="d-block w-100" alt="Imagen 2">
          </a>
        </div>
        <div class="carousel-item">
          <a href="/productos">
            <img src="../../../../assets/images/FondoSalsa3.jpg" class="d-block w-100" alt="Imagen 3">
          </a>
        </div>
        <div class="carousel-item">
          <a href="/productos">
            <img src="../../../../assets/images/FondoSalsa4.jpg" class="d-block w-100" alt="Imagen 4">
          </a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <!-- Sección de productos destacados -->
  <section class="featured-products-custom p-10">
    <h2 class="font-bold mb-6 text-dark-green-custom1">
      Nuestras salsas más populares
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <ng-container *ngIf="productosDestacados.length > 0; else noProducts">
        <div
          *ngFor="let producto of productosDestacados"
          class="product-card-custom p-4 bg-white shadow-md rounded-md"
        >
          <img
            [src]="producto.fotografia"
            alt="{{ producto.nombreProducto }}"
            class="mb-4 w-full h-32 object-cover rounded-md"
          />
          <h3 class="text-xl textBold mb-2">{{ producto.nombreProducto }}</h3>
          <p class="text-lg font-bold mb-4 text-primary-custom">
            {{ producto.precioVenta | currency }}
          </p>
          <button mat-raised-button color="primary" class="btn-primary-custom" (click)="addToCart(producto)">
            Agregar al carrito
          </button>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <p class="text-dark-green-custom">
          No hay productos disponibles en este momento.
        </p>
      </ng-template>
    </div>
  </section>
</div>
